<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="uploads/pix-favicon.ico">  
	<meta name="description" content="FitImage, Measure your body fat with your mobile app">
	<meta name="keywords" content="fitimage, fitness, health, mobile app, free, AI, Artificial Intelligence, body building, excercise">
	<!-- CSS dependencies -->
	{% load static %}	
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}"  />
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/font-awesome.min.css' %}"  />
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.fancybox.min.css' %}"  />
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/pix_style.css' %}"  />
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/font-style.css' %}"  />
	<link href="{% static 'home/css/animations.min.css' %}"  rel="stylesheet" type="text/css" media="all" />
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/ie-fix.css' %} />
	<![endif]-->
	<title>FitImage| Internal Server Error</title>
	<style type="text/css" id="pix_page_style"></style>
</head>
<body>

<div class="pix_section pix-padding-v-20 gray-bg" id="section_2" style="background-color: rgb(244, 244, 244); background-size: auto auto; background-repeat: repeat-x; padding-top: 0px; padding-bottom: 20px;">
  <div class="container">
   <div class="row">
    
    <div class="col-md-12 col-xs-12 col-sm-12 column ui-droppable" style="display: block;">
     <div class="pix-content pix-padding-v-30" style="background-size: auto auto; background-repeat: repeat-x; padding: 0px; margin: 0px; background-color: rgb(249, 196, 54); background-attachment: scroll;">
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong><span style="font-size: 28px;">Special Offer: Free 3 months</span><br></strong></span>
      </h2>
      <h5 class="pix-black-gray-light text-center">
       <span class="pix_edit_text"><span style="color: rgb(255, 254, 254);">No Credit Card Needed</span><br><br></span>
      </h5>
     </div>
    </div><div class="col-xs-12 col-sm-12 column ui-droppable col-md-12" style="display: block;">
     <div class="pix-content text-center" style="background-size: auto auto; background-repeat: repeat-x; padding: 0px; margin: -10px 0px;">
      
      <div class="clearfix"></div>
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong>Download FitImage App Today!</strong></span>
      </h2>
      <div class="pix-padding-v-10">
       <p class="pix-black-gray-light big-text-20">
        <span class="pix_edit_text">It is fast and easy! Claim you FREE Bonuses
        </span>
       </p>
      </div>
      <div class="pix-padding-bottom-20">
       <a href="#" class="pix-link-icon pix-padding-h-10">
        <i class="pixicon-apple2 big-icon pix-black-gray-dark"></i>
       </a>
       <a href="#" class="pix-link-icon pix-padding-h-10">
        <i class="pixicon-play22 big-icon pix-black-gray-dark"></i>
       </a> 
       
      </div>
     </div>
    </div><div class="col-md-12 col-xs-12 col-sm-12 column ui-droppable" style="display: block;">
     <div class="pix-content pix-padding-bottom-30" style="background-size: auto auto; background-repeat: repeat-x; padding: 0px; margin: 0px;">
      <h2 class="pix-black-gray-dark text-center pix-no-margin-top secondary-font">
       <span class="pix_edit_text"><strong><span style="font-size: 28px;">Here are the reasons to know your body fat percentage:</span><br></strong></span>
      </h2>
      <p class="pix-black-gray-light big-text text-center">
       <span class="pix_edit_text">The new way in health and fitness.<br></span>
      </p>
     </div>
    </div><div class="col-md-4 col-xs-12 col-sm-4 column ui-droppable">
     <div class="pix-content pix-padding-h-10 pix-padding-v-20 text-center pix-margin-v-10">
      <div class="pix-margin-bottom-20">
       <img src="{% static 'home/images/medical/f1.png' %}" alt="our doctor">
      </div>
      <h4 class="pix-black-gray-dark">
       <span class="pix_edit_text"><strong>Relationship to Weight<br></strong></span>
      </h4>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">Knowing your weight tells you very little about your health, but knowing your BMI and weight explains your body composition!<br></span>
      </p>
      
     </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-4 column ui-droppable">
     <div class="pix-content pix-padding-h-10 pix-padding-v-20 text-center pix-margin-v-10" style="background-size: cover; background-repeat: repeat-x; padding: 20px 10px; margin: 20px 0px 10px;">
      <div class="pix-margin-bottom-20">
       <img src="{% static 'home/images/sport/image-2.png' %}" alt="fitness">
      </div>
      <h4 class="pix-black-gray-dark">
       <span class="pix_edit_text"><strong>Helps You How to Improve<br></strong></span>
      </h4>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">It tells you if you need to increase or decrease lean Body Fat and&nbsp; Fat Mass, according to your healthy body composition changes!<br></span>
      </p>
      
     </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-4 column ui-droppable">
     <div class="pix-content pix-padding-h-10 pix-padding-v-20 text-center pix-margin-v-10">
      <div class="pix-margin-bottom-20">
       <img src="{% static 'home/images/medical/f2.png' %}" alt="our doctor 2">
      </div>
      <h4 class="pix-black-gray-dark">
       <span class="pix_edit_text"><strong>Reduce the risk of heart disease<br></strong></span>
      </h4>
      <p class="pix-black-gray-light big-text pix-margin-bottom-20">
       <span class="pix_edit_text">For fitness and health knowing your BMI help you reduce health risk and heart disease!<br></span>
      </p>
      
     </div>
    </div>
   </div>
  </div>
 </div> 
 
 
 <!-- Javascript -->
<script src="{% static 'home/js/jquery-1.11.2.js' %}"></script>
<script src="{% static 'home/js/jquery-ui.js' %}"></script>
<script src="{% static 'home/js/bootstrap.js' %}"></script>
<script src="{% static 'home/js/velocity.min.js' %}"></script>
<script src="{% static 'home/js/velocity.ui.min.js' %}"></script>
<script src="{% static 'home/js/appear.min.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/animations.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/plugins.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/jquery.fancybox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/custom.js' %}"></script>

</body>
</html>