{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="topspace"></div>
<div class="forcast_detail fixed_p_footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{forecast.heading}}</h2>
 {% if approved == 'yes' %}

          <hr>
           <div class="form-group form-inline">
        <input type="text" class="form-control" id="awb" value="{{forecast.id}}" style="display:none;" ><br>
        <div class="predictwrap">

                <div style="display:flex;">
                <input type="radio" id="contactChoice1" name="contact" value="email" style="margin-left:10px;">
                   &nbsp; <label for="contactChoice1" style="margin-bottom:5px;">YES</label>

                <input type="radio" id="contactChoice2" name="contact" value="phone" style="margin-left:10px;">
                   &nbsp; <label for="contactChoice2" style="margin-bottom:5px;">NO</label>
                    </div>
          <br>
          <div id="point_div">

              <label for="points" style="justify-content: left; "><strong>FG Points</strong></label>
            <input type="button" class="btn btn-danger btn-sm" id="sub" value="-" style="width:26px;"/>
            &nbsp;
            <input type="text" value="1000" id="points" name="points" style="height:30px;"/>

            <input type="button" class="btn btn-success btn-sm" id="add" value="+" />
            <input type="text" id="forecast" value="{{forecast.id}}" style="display:None">
            <button class="btn btn-sm btn-orange text-uppercase submit_forecast"> PLAY</button>

              </div>


             </div>

{% endif %}
</div>
          <hr class="hr">
            <!--<p>Status :  {% if forecast.approved.name == 'yes' %}<span>{{status}}</span> {% else %}<span>Pending for approval</span>{% endif %} </p>-->
          <p style="padding-left:20px;">Closing date and time  <img src="{% static 'images/calender-blue.png' %}" class="ml-2 mr-2"> <span class="value-color">{{end_date}}</span> <img src="{% static 'images/time-blue.png' %}" class="ml-2 mr-2"> <span class="value-color">{{end_time}}</span> </p>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row white_box mr-0 ml-0 mb-3">

        <div class="col-12">
            <div class="row mb-2">
                <div class="col-12">
                    Created By : <strong>{{users|title}}</strong>

                </div>
                <!--<div class="col-7 text-right value-color">-->
                <!--</div>-->
              </div>

              <div class="row mb-2">
                  <div class="col-12">
                      Status :
                  <!--</div>-->
                  <!--<div class="col-7 text-right value-color">-->
                      <strong>{% if forecast.approved.name == 'yes' %}<span>{{status}}</span> {% else %}<span>Pending for approval</span>{% endif %}
                          {% if forecast.won == 'yes' %}(<span class="result_yes" style="color:green;">YES</span>){% elif forecast.won == 'no' %} (<span class="result_no" style="color:red;">NO</span>){% endif %}</strong>
                  </div>
                </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row white_box mr-0 ml-0 mb-3">

        <div class="col-12">
            <div class="row mb-2">
                <div class="col-6">
                    FG Points for Yes
                </div>
                <div class="col-6 text-right value-color">
                    {{bet_for}}
                </div>
              </div>

              <div class="row mb-2">
                  <div class="col-6">
                    FG Points for No
                  </div>
                  <div class="col-6 text-right value-color">
                      {{against}}
                  </div>
                </div>
            <div class="row mb-2">
                  <div class="col-6">
                    Total FG points in play
                  </div>
                  <div class="col-6 text-right value-color">
                      {{sums}}
                  </div>
                </div>
        </div>

      </div>
    <div class="clearfix"></div>
      <div class="row white_box mr-0 ml-0 mb-3">

        <div class="col-12">
            <div class="row mb-2">
                <div class="col-6">
                    Source
                </div>
                <div class="col-6 text-right value-color">
                    <a href="{% url 'redirect_url' forecast.sub_category.source%}">{{forecast.sub_category.source}}</a>
                </div>
              </div>


        </div>

      </div>
      <div class="clearfix"></div>
    <!--<div class="row white_box mr-0 ml-0 mb-3">-->
      <!--<div class="col-12">-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-6 text-right value-color">&ndash;&gt;-->
          <!--{% if forecast.status.name == 'In-Progress' %}-->
            <!--<p class="m-0">Result : <strong>Awaited</strong> </p>-->
          <!--{% elif forecast.status.name == 'Closed' %}-->
          <!--<p class="m-0">Result : <strong>Result not Declared</strong></p>-->
          <!--{% else %}-->
          <!--<p class="m-0">Result : <strong>Result Declared</strong></p>-->
          <!--{% endif %}-->
    <!--</div>-->
  <!--</div>-->
      <div class="clearfix"></div>
    <!--<div class="row white_box mr-0 ml-0 mb-3">-->
      <!--<div class="col-12">-->
        <!--<div class="row">-->
          <!--<div class="col-8">-->
            <!--<p>Total FG points in play</p>-->
          <!--</div>-->
          <!--<div class="col-4 text-right value-color">-->
            <!--<p>{{sums}}</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

</div>
<footer class="sticky-footer">
  <nav class="navbar">
    <ul class="navbar-nav nav-fill w-100 text-center">
          <li class="nav-item"> <a class="nav-link active" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
            My Account</a> </li></ul>
  </nav>
</footer>
<script>
    $("#add").click(function(){
        var awb = $("#points").val();
        var vals = parseInt(awb) + 1000;
        $("#points").val(vals);
    });
    $("#sub").click(function(){
        var awb = $("#points").val();
        var vals = parseInt(awb) - 1000;
        if( vals < 100){
               $("#points").val(1000);
            }else{
               $("#points").val(vals);
            }
    });

$(".submit_forecast").click(function(){
    var radioValue = $("input[name='contact']:checked").val();

    var forecast = $("#forecast").val();
    var point = $("#points").val();
    if(radioValue === "email" || radioValue == "phone"){
        if( parseInt(point) % 1000 === 0){
            $.ajax({
                type: "POST",
                url: "{% url 'bet_save' %}",
                data: {'vote': radioValue, "points":point, 'forecast':forecast},

                success: function(resp){
                    console.log(resp);
                    var data = JSON.parse(resp);
                    if(data.message=="success"){
                    console.log(data.message);
                        alert("Forecast Placed");
                        location.reload();
                        }
                    else if(data.message=="balance"){
                            alert("You ForeCast Guru Balance is low");
                            window.location.href = "{% url 'payment' %}";
                    }
                    else if(data.message=="login"){
                            alert("Please login!!");
                            window.location.href = "{% url 'blank_page' %}";
                    }
                    else{
                        alert(data.message);
                        }
                    }

                });

            }
        else{
            alert("Points should be multiple of 1000");
            }
            }
        else{
            alert("Please select vote type");

            }

    });
</script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}


