{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="topspace"></div>

<div class="container fixed_p_footer">
  <div class="row">
    <div class="col-md-12">

      <div class="category_wrap">
        <a href=" {% url 'category_search' 1 %}">
        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{% static 'images/category_1.jpg' %}" alt="">
            </div>
            <div class="col-9">
              <p>Sports</p>
            </div>
          </div>
        </div>
        </a>
          <a href=" {% url 'category_search' 4 %}">
        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{% static 'images/category_2.jpg' %}" alt="">
            </div>
            <div class="col-9">
              <p>Weather</p>
            </div>
          </div>
        </div></a>
          <a href=" {% url 'category_search' 2 %}">

        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{% static 'images/category_3.jpg' %}" alt="">
            </div>
            <div class="col-9">
              <p>Stock Market</p>
            </div>
          </div>
        </div></a>
          <a href=" {% url 'category_search' 3 %}">

        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{% static 'images/category_4.jpg' %}" alt="">
            </div>
            <div class="col-9">
              <p>Crypto Currencies</p>
            </div>
          </div>
        </div></a>
          <a href=" {% url 'category_search' 5 %}">

        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{% static 'images/category_5.jpg' %}" alt="">
            </div>
            <div class="col-9">
              <p>Politics</p>
            </div>
          </div>
        </div>
          </a>

         <a href=" {% url 'category_search' 6 %}">

        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{% static 'subcat/entertainment2.png' %}" alt="" height="75px" width="75px">
            </div>
            <div class="col-9">
              <p>Entertainment</p>
            </div>
          </div>
        </div>
          </a>
      </div>



    </div>
  </div>
</div>
<footer class="sticky-footer">
    <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
        <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link active" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
      </ul>
    </nav>
  </footer>
<script>
$('#myInput').keypress(function (e) {
  if (e.which == 13) {
  var test = $("#myInput").val();

  $.ajax({
    type:"POST",
    url: "{% url 'search_result' %}",
    data: {'point': test},
    success: function(resp){

    }
});
    <!--$('form').submit();-->
    <!--return false;-->
  }
});
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120519459-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120519459-1');
</script>
<!-- Google Code for Sign-up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 800617326;
var google_conversion_label = "Ww8PCPv4-IMBEO7m4f0C";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/800617326/?label=Ww8PCPv4-IMBEO7m4f0C&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '448296328916936');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=448296328916936&ev=PageView&noscript=1"
/></noscript>
{% endblock %}