{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="topspace"></div>
<p> Hello World! </p>
  # For django templating engine

  <button id="webpush-subscribe-button" {% if group %}data-group="{{ group }}"{% endif %} data-url="{{ webpush_save_url }}">
    Subscribe to Push Messaging
  </button>
  <div id="webpush-message" hidden></div>
<div class="container fixed_p_footer">
  <div class="row">
    <div class="col-md-12">
    {% for c in category %}
      <div class="category_wrap">
        <a href=" {% url 'category_search' c.id %}">
        <div class="cat_box">
          <div class="row align-items-center">
            <div class="col-3 text-center">
                <img src="{{c.image}}" alt="">
            </div>
            <div class="col-9">
              <p>{{c.name}}</p>
            </div>
          </div>
        </div>
        </a>

      </div>
    {% endfor %}


    </div>
  </div>
</div>
<footer class="sticky-footer">
    <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
        <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link active" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'private' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
      </ul>
    </nav>
  </footer>
<script>
$('#myInput').keypress(function (e) {
  if (e.which == 13) {
  var test = $("#myInput").val();

  $.ajax({
    type:"POST",
    url: "{% url 'search_result' %}",
    data: {'point': test},
    success: function(resp){

    }
});
    <!--$('form').submit();-->
    <!--return false;-->
  }
});
</script>

{% endblock %}