{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="topspace"></div>
<!--<form action="{% url 'create_forecast' %}" method="post">-->


<div class="container fixed_p_footer">
  <div class="row">

      <div class="col-md-12">

      <div class="forcast_home" style="text-align:center;">
          <div><h4>To Create forecasts.</h4>
              <h4>Please login</h4></div>
        <div class="btn_box mb-3" >
                    <a href="https://www.forecast.guru/facebook/login/?process=login" class="btn btn-blue w-100 text-uppercase"><i class="fa fa-facebook mr-1"></i> Login with facebook</a>
                </div>


    </div>
  </div>
  </div></div>


<footer class="sticky-footer">
    <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
        <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
      </ul>
    </nav>
  </footer>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>

{% endblock %}