{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="topspace2" style="padding-top:10px;"></div>
<!--<form action="{% url 'create_forecast' %}" method="post">-->
<form method="post">

<div class="sel-cate fixed_p_footer">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <select class="form-control" name="categories" id="categories">
            <option value="">Select</option>
            {% for c in category %}
                    <option value="{{c.id}}">{{c.name}}</option>
                {% endfor %}
        </select>
      </div>
    </div>
      <div class="container" style="display:none;">
       <input type="text" name="user" id="user" value="{{ user }}"/>
   </div>
    <div class="row mb-3">
      <div class="col-12">
        <select class="form-control" name="subcategories" id="subcategories" style="display:none;">

        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
                    <div class="form-group" style="display:none;" id="srcs">

          <label> Source</label>
                        <div class="col-12" style="padding-left:10px;"><input class="col-12" type="text" id="source" readonly /></div>
                    </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <textarea class="form-control" rows="4" cols="50" name="heading" id="heading" placeholder="Enter Heading (min 10 and max. length 100 characters)"></textarea>
      </div>
    </div>
    </div>
      <div style="display:flex;">
      <!--<div class="col-6">-->
        <!--<div class="position-relative">-->
          <!--<div class="form-group">-->
                <!--<label>End Date</label>-->
                    <!--<div class='input-group date' id='datetimepicker7'>-->
                        <!--<input type='text' class="form-control" name="start" id="start" placeholder="Select start time"/>-->
                        <!--<span class="input-group-addon">-->
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                        <!--</span>-->
                    <!--</div>-->
            <!--</div>-->
      <!--</div>-->
    <!--</div>-->
      <div class="col-12">
        <div class="position-relative">
          <div class="form-group">
                <label>End Time</label>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" name="expire" id="expire" placeholder="Select end time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
            </div>
      </div>
    </div>
      </div>
<div class="row mb-2" style="padding-left:10px;">
      <div class="col-12">
        <label>Private</label> &nbsp;<input type="checkbox" id="private"/>
      </div></div>
    <div class="row mb-2">
      <div class="col-12"> <input type="button" class="btn w-100 btn-orange text-uppercase create" value="Create Forecast"/> </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <div class="note">All forecasts are subject to Admin Approval</div>
      </div>
    </div>
  </div>
</div>
</form>
<footer class="sticky-footer">
    <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
        <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
      </ul>
    </nav>
  </footer>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
            $(function () {
                $('#datetimepicker6').datetimepicker();
                $('#datetimepicker7').datetimepicker();

            });

         $('#categories').on('change', function() {
         $('#subcategories').html('');
            var id = this.value;
            $.ajax({
                    type: "POST",
                    url: "{% url 'get_sub_cat' %}",
                    data: {'identifier': id,},
                    success: function(resp){

                    var data = JSON.parse(resp);
                    console.log(data);
                    var sub = data.data;

                        console.log(sub);
                        for(i=0; i < sub.length; i++){
                             var values = JSON.parse(JSON.stringify(sub[i]));
                            $('#subcategories').append($('<option>', {
                                value: values.id,
                                text : values.name
                            }));
                            }


                            $("#source").val(data.source);
                            $("#srcs").show();
                            $("#subcategories").show();
                            }
                        });

                        });

$(".create").click(function(){
    var category = $("#categories").val();
    var sub_cat = $("#subcategories").val();
    var heading = $("#heading").val();
    var expire = $("#expire").val();
    var user = $("#user").val();
    var test = $("#private").is(":checked");

    console.log(test);
    var private = $('input[type="checkbox"]').prop("checked");
    var value = "";
     if(expire == "" || heading == "" || category=="" || sub_cat == ""){
     alert('All fields are mandatory');
     }
    if(heading.length < 10){
     alert('Minimum Heading should be greater than 10');
     }
     else if(heading.length > 70){
     alert('Minimum Heading should be less than 70');
    }

    $.ajax({
        type: "POST",
        url: "{% url 'create_forecast' %}",
        data: {'heading': heading, "category":category, 'sub_cat':sub_cat,"expire":expire,"user":user, "private":test},

        success: function(resp){
            console.log(resp);
            var data = JSON.parse(resp);

            if(data.message=="Forecast Created"){
                 alert(data.message);
                 window.location.href = "{% url 'my_forecast' %}";
               }

            else if(data.message == "Please Login"){
                 alert(data.message);
                 window.location.href = "{% url 'blank_page' %}";
            }
            else if(data.message == "end"){
                 alert("End Time should be greater than Current Time");
            }
            else{
                alert(data.message);
            }
           }

    });

    });



        });
</script>

{% endblock %}