<h4>{{forecast.heading}}</h4><br>
<div class="form-group form-inline">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for f in forecast %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{f.username}}</td>
              <td>{{f.email}}</td>
              <td><button class="">Invite</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>






</div>

<script>
    $("#add").click(function(){
        var awb = $("#points").val();
        var vals = parseInt(awb) + 1000;
        $("#points").val(vals);
    });
    $("#sub").click(function(){
        var awb = $("#points").val();
        var vals = parseInt(awb) - 1000;
        if( vals < 100){
               $("#points").val(1000);
            }else{
               $("#points").val(vals);
            }
    });

$(".submit_forecast").click(function(){
    var radioValue = $("input[name='contact']:checked").val();

    var forecast = $("#forecast").val();
    var point = $("#points").val();
    if(radioValue === "email" || radioValue == "phone"){
        if( parseInt(point) % 1000 === 0){
            $.ajax({
                type: "POST",
                url: "{% url 'bet_save' %}",
                data: {'vote': radioValue, "points":point, 'forecast':forecast},

                success: function(resp){
                    console.log(resp);
                    var data = JSON.parse(resp);
                    if(data.message=="success"){
                    console.log(data.message);
                        alert("Forecast Placed");
                        location.reload();
                        }
                    else if(data.message=="balance"){
                            alert("You ForeCast Guru Balance is low");
                            window.location.href = "{% url 'payment' %}";
                    }
                    else if(data.message=="login"){
                            alert("Please login!!");
                            window.location.href = "{% url 'blank_page' %}";
                    }
                    else{
                        alert(data.message);
                        }
                    }

                });

            }
        else{
            alert("Points should be multiple of 1000");
            }
            }
        else{
            alert("Please select vote type");

            }

    });


$(document).ready(function(){
    $('input[type="radio"]').click(function(){
         $("#point_div").show();
    });
});
</script>
