{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forcastguru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true" />
    <script src="{% static 'js/jquery_new.js' %}" ></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'slick/slick-theme.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style_mobile.css' %}" />

</head>
<body class="home-bg">

    <div class="splash">
        <img class="logo" src="{% static 'images/logo-forcastguru.png' %}" alt="" class="img-fluid" />
        <p class="text-center">Koi Hara Koi Jeeta</p>
    </div>

    <div class="container p-0" style="display: none">
<div class="tutorial-container position-relative">


        <div class="tutorial-slider">
            <div class="item text-center">
                <img src="{% static 'images/TutorialScreen-1.png' %}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'images/TutorialScreen-2.png' %}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'images/TutorialScreen-3.png' %}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'images/TutorialScreen-4.png' %}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'images/TutorialScreen-5.png' %}" alt="">
            </div>
            <div class="item text-center">
                <img src="{% static 'images/TutorialScreen-6.png' %}" alt="">
            </div>
        </div>
        <div class="skip">
            <a href="{% url 'blank_page' %}">Skip Tutorial</a>
        </div>
        </div>
</div>
        <!--<script src="{% static 'js/jquery-slim.min.js' %}"></script>-->
        <script src="{% static 'slick/slick.min.js' %}"></script>
        <script>
        $(function(){

    setTimeout(function() {
        $(".splash").fadeOut('slow');
        $('body').removeClass('home-bg');
        $('.container').fadeIn('slow');
        $('.tutorial-slider').slick({
            dots: true,
            arrows: false,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            autoplay:true,
            autoplaySpeed:3500,
        });
    }, 3000);


    })
    </script>

</body>
</html>

