{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style_mobile.css' %}" />

</head>
<body>
<form action="{{ action }}"  name="payuForm" method="post">
    {% csrf_token %}
    <input type="hidden" name="key" value="{{ key }}" />
    <input type="hidden" name="hash" value="{{ hash }}"/>
    <input type="hidden" name="txnid" value="{{ txnid }}" />
    <input type="hidden" name="amount" value="{{ amount }}" />
    <input type="hidden" name="email" value="{{ email }}" />
    <input type="hidden" name="firstname" value="{{ firstname }}" />
    <input type="hidden" name="phone" value="{{ phone }}" />
    <input type="hidden" name="productinfo" value="{{ productinfo }}"/>
    <input type="hidden" name="surl" value="{{ surl }}"/>
    <input type="hidden" name="furl" value="{{ furl }}" />
    <input type="hidden" name="service_provider" value="{{ service_provider }}" />

    <div class="form-group">
        <div class="col-md-12 col-sm-12" style="font-size:70px;">
            Amount : {{amount}}
        </div>
    </div><br><br>
    <div class="form-group">
        <div class="col-md-12 col-sm-12" style="font-size:70px;">
            Purpose : {{productinfo}}
        </div>
    </div><br><br>
    <!--<div class="form-group">-->
        <!--<div class="col-md-12 col-sm-12">-->
            <!--Name : {{name}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-md-12 col-sm-12">-->
            <!--Email : {{email}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-md-12 col-sm-12">-->
            <!--Mobile : {{phone}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-md-12 col-sm-12">-->
            <!--Transaction ID : {{txnid}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-md-12 col-sm-12" style="padding-bottom:20px;padding-top:20px;font-size:70px;">-->
            <!--After clicking 'Pay Now' button, you will be redirected to PayUMoney Secure Gateway.-->
        <!--</div>-->
    <!--</div>-->
<br><br>
    <div class="form-group">
        <div class="" style="padding-left: 250px;">
            <input type="submit" class="btn btn-orange w-100" value="Pay Now" style="width: 400px;height: 100px;font-size: 50px;">
        </div>
    </div>
</form>
</body>
</html>