{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="topspace"></div>
<div class="container topnavlinks" style="padding-bottom:10px;">
  <nav class="navbar">
    <ul class="navbar-nav nav-fill w-100 text-center">
      <li class="nav-item text-uppercase"> <a class="nav-link" style="background: #B0FEEE; color:  black; padding-left: 10px; padding-right: 10px;" href="{% url 'create_forecast' %}">Create Forecast</a> </li>
      <li class="nav-item text-uppercase"> <a class="nav-link active" href="{% url 'payment' %}" style="background: #B0FEEE; color:  black; padding-left: 10px; padding-right: 10px;">Buy FG Points</a> </li>
      <!--<li class="nav-item text-uppercase"> <a class="nav-link" href="#">Sort by</a> </li>-->
    </ul>
  </nav>
</div>


<div class="container fixed_p_footer">
  <div class="row">
    <div class="col-md-12">
      <div class="buy_points">
        <div class="white_box">
          <div class="row headrow mb-3">
            <div class="col-5 text-left"> Amount </div>
            <div class="col-4 text-left pl-0"> FG Points </div>
          </div>
<div class="row content-row mb-2 align-items-center">
            <div class="col-5 text-left"> <span class="d-inline-block mr-2" style="padding-left: 20px;"><i class="fa fa-rupee"></i>9</span> </div>
            <div class="col-4 text-left pl-0"> 5,000 </div>
            <div class="col-3 text-right pl-0">
            <form action="{% url 'payments' %}" method="post">
                     <input type="text" value="9" name="button1" style="display:None;"/>
                    <input type="submit" class="btn btn-orange" value="Buy Now"> </form>
            </div>
          </div>
          <div class="row content-row mb-2 align-items-center">
            <div class="col-5 text-left"> <span class="d-inline-block mr-2" style="padding-left: 20px;"><i class="fa fa-rupee"></i>15</span> </div>
            <div class="col-4 text-left pl-0"> 10,000 </div>
            <div class="col-3 text-right pl-0">

              <form action="{% url 'payments' %}" method="post">
                     <input type="text" value="15" name="button1" style="display:None;"/>
                    <input type="submit" class="btn btn-orange" value="Buy Now"> </form>
                 </div>
          </div>
          <div class="row content-row mb-2 align-items-center">
            <div class="col-5 text-left"> <span class="d-inline-block mr-2" style="padding-left: 20px;"><i class="fa fa-rupee"></i>49</span> </div>
            <div class="col-4 text-left pl-0"> 60,000 </div>
            <div class="col-3 text-right pl-0">
            <form action="{% url 'payments' %}" method="post">
                     <input type="text" value="49" name="button1" style="display:None;"/>
                    <input type="submit" class="btn btn-orange" value="Buy Now"> </form>
            </div>
          </div>
          <div class="row content-row mb-2 align-items-center">
            <div class="col-5 text-left"> <span class="d-inline-block mr-2" style="padding-left: 20px;"><i class="fa fa-rupee"></i>99</span> </div>
            <div class="col-4 text-left pl-0"> 1,50,000 </div>
            <div class="col-3 text-right pl-0">

              <form action="{% url 'payments' %}" method="post">
                     <input type="text" value="99" name="button1" style="display:None;"/>
                    <input type="submit" class="btn btn-orange" value="Buy Now"> </form>
                 </div>
          </div>

            <div class="row content-row mb-2 align-items-center">
            <div class="col-5 text-left"> <span class="d-inline-block mr-2" style="padding-left: 20px;"><i class="fa fa-rupee"></i>499</span> </div>
            <div class="col-4 text-left pl-0"> 10,00,000 </div>
            <div class="col-3 text-right pl-0">

              <form action="{% url 'payments' %}" method="post">
                     <input type="text" value="499" name="button1" style="display:None;"/>
                  <input type="submit" class="btn btn-orange" value="Buy Now"> </form></div>
          </div>
            <!--<div class="row content-row align-items-center">-->
            <!--<div class="col-5 text-left"> <span class="d-inline-block mr-2"><i class="fa fa-rupee"></i>999</span> <span class="mostpopular">Most<br>-->
              <!--Popular</span> </div>-->
            <!--<div class="col-4 text-left pl-0"> 10,00,000 </div>-->
            <!--<div class="col-3 text-right pl-0">-->
            <!--<form action="{% url 'payments' %}" method="post">-->
                     <!--<input type="text" value="999" name="button1" style="display:None;"/>-->
                    <!--<input type="submit" class="btn btn-orange" value="Buy Now"> </form>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row content-row align-items-center">-->
            <!--<div class="col-5 text-left"> <span class="d-inline-block mr-2"><i class="fa fa-rupee"></i>3999</span> <span class="bestdeals">Best<br>-->
              <!--Deal</span> </div>-->
            <!--<div class="col-4 text-left pl-0"> 10,00,000 </div>-->
            <!--<div class="col-3 text-right pl-0">-->
                <!--<form action="{% url 'payments' %}" method="post">-->
                     <!--<input type="text" value="3999" name="button1" style="display:None;"/>-->
                    <!--<input type="submit" class="btn btn-orange" value="Buy Now"> </form></div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="sticky-footer">
  <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
             <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
        </ul>
  </nav>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}