{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="topspace2"></div>

<div class="container fixed_p_footer">
  <div class="row">
    <div class="col-md-12">
      
      <div class="terms_wrap">

        <p>Welcome to the Forecast Guru website (the “Forecast Guru Site”). [Forecast
        Foundation osaühing]. (“Forecast Guru”, “we”, “us” or “our”) is committed to
        treating the personal and corporate information of our users with respect and
        sensitivity. Our privacy commitment is described in this privacy policy (the
        “Privacy Policy”). Forecast Guru provides the Forecast Guru Site to you subject to
        your acceptance of the Privacy Policy. The Forecast Guru Site is offered to you
        conditioned on your acceptance, without modification, of this Forecast Guru
        Privacy Policy.</p>
        <h4>Application of this Privacy Policy</h4>
        <p>This Privacy Policy applies to your use of (regardless of means of access) any of
        the current set of Forecast Guru products, collectively referred to as “Forecast
        Guru Products”, such as our website (www.Forecast.Guru), our App for
        Windows, our App for Mac, our Android app and our browser extensions. The
        Forecast Guru Products are owned and provided by M/s Forecast Solutions
        Private Limited.</p>
        <p>You can access, download or use Forecast Guru Products, through applications
        on Devices, through APIs, and through third parties as set forth herein, in the
        Terms of Use section and in any Customer Agreement applicable to you. A
        “Device” is any computer used to access the Forecast Guru Products, including
        without limitation a desktop, laptop, mobile phone, tablet, or other consumer
        electronic Device.</p>
        <p>Forecast Guru Products can enable you to use applications developed by third
        parties, individually and collectively referred to as “Third Party Apps” on a
        Device, such as an Android app on a Device running either the Microsoft
        Windows, Apple OS X or Linux operating systems.</p>
        <h4>General Information</h4>
        <p>We believe that you have the right to understand how your information is stored
        and used. We are not responsible for the privacy practices of any third parties or
        the content of linked sites although we do encourage you to read the applicable
        privacy policies and terms and conditions of such parties or web sites.</p>
        
        <h4>Information We Gather</h4>
        <p>
        Information you Provide: In general, you can visit the Forecast Guru Site without
        telling us who you are or revealing any information about yourself. If you wish to
        obtain information about our products or services you can contact us. We may
        collect your name, company name, email address, and street address along with
        other information you may choose to submit, as part of the inquiry process
        ("Personally Identifiable Information" or "PII").</p>
        <p>When you register for an Forecast Guru account, we collect some PII, which may
        include your name, company name, email address, telephone number, street
        address, taxpayer and immigration information, payroll, insurance and banking
        information. You may be asked to choose log-in Information, such as your email
        address and a password which will be used to access your account.
        By providing your PII to us, you explicitly agree to our collection and use of such
        information as described in this Privacy Policy. You can choose not to provide
        certain information, but then you might not be able to take advantage of many of
        our features. We use the information that you provide for such purposes as
        responding to your requests, customizing our features, and communicating with
        you.</p>
        <p>Information Automatically Collected: We (or our service providers acting on our
        behalf) may collect Information about the Forecast Guru Products that you use
        and how you use them. This information includes information that may identify
        you as well as statistical information (“Analytics”) that does not identify you.
        Some Analytics may be correlated with your PII. Usage Information may include:</p>
        <p>a) Device Information: We may collect Device-specific Information (such as your
        hardware model, operating system version, unique Device identifiers and mobile
        network Information including phone number). We may associate your Device
        identifiers or phone number with your Forecast Guru Account.</p>
        <p>b) Log Information: When you use Forecast Guru Products, we may
        automatically record or log Information from your Device, its software, and your
        activity using the Forecast Guru Products. This may include:</p>
        <p>The Device’s Internet Protocol (“IP”) address;<br>
        Identification numbers associated with your Devices;<br>
        Device event Information such as crashes, system activity and hardware settings;<br>
        Locale preferences;
        </p>
        <p>Application activity such as app upload, app download, app installation, app
        uninstallation, app start, app play duration, app stop, app crashes, app network
        activity and app resource consumption;</p>
        <p>Date and time stamps associated with transactions;<br>
        System configuration Information;<br>
        Metadata concerning your applications; and<br>
        Other interactions with the Forecast Guru Products.
        </p>

        <h4>Cookies</h4>
        <p>We may receive and store certain types of information whenever you
        interact with us. For example, like many Web sites, we may use "cookies," and we
        obtain certain types of information when your Web browser accesses the
        Forecast Guru Site or advertisements and other content served by or on behalf of
        the Forecast Guru Site on other Web sites. We use cookies to personalize our Site
        for you and to collect aggregate information about site usage by all of our users.
        A cookie is a text file that our Site transfers to your computer's hard drive for
        record-keeping purposes and to enhance the quality of your visit to our Site. The
        cookie assigns a random, unique number to your computer Further general
        information about cookies and how they work is available at www.allaboutcookies.org.</p>
        <p>The cookies we may use on the Forecast Guru Site include:</p>
        
        <p>a) Session cookies: These temporary cookies expire and are automatically erased
        whenever you close your browser window. We use session cookies to grant our
        users access to content and to enable actions they must be logged in to do.</p>
        <p>b) Persistent cookies: These usually have an expiration date in the distant future
        and remain in your browser until they expire or you manually delete them. We
        use persistent cookies to better understand usage patterns so we can improve
        the site for our customers. For example, we may use a persistent cookie to
        associate you with your user account or to remember that your choices on the
        Forecast Guru Site, but this only works when cookies on our site are enabled.</p>
        <p>c) Third party cookies: We permit limited third parties to place cookies through
        the Forecast Guru Site to provide us with better insights into the use of the
        Forecast Guru Site or user demographics or to provide relevant advertising to
        you. These third parties may collect information about a consumer’s online
        activities over time and across different websites when he or she uses our
        website. For example, we utilize Google Analytics to analyze usage patterns of
        the Forecast Guru Site. Google Analytics generates a cookie to capture
        information about your use of the Forecast Guru Site which Google uses to
        compile reports on website activity for us and to provide other related services.
        Google may use a portion of your IP address to identify their cookie, but this will
        not be associated with any other data held by Google.</p>
        
        <p>We may also permit third party service providers to place cookies through the
        Forecast Guru Site, as indicated above, to perform analytic or marketing
        functions where you are notified of them and you have consented to the usage.
        We do not control the use of such third party cookies or the resulting
        information and we are not responsible for any actions or policies of such third
        parties.</p>
        <p>
        Your use of the Forecast Guru Site will be deemed to be your consent to the
        placement of cookies on your computer or other device. If you prefer not to
        receive cookies through the Forecast Guru Site, you can set your browser to
        either reject all cookies, to allow only “trusted” websites to set them, or to accept
        only those cookies from those sites you are currently on. Unless you have
        adjusted your browser setting so that it will refuse cookies, our system will issue
        cookies when you log on to the Forecast Guru Site and use it.
        If you refuse cookies, this will limit system performance and may even cause
        certain features of the Forecast Guru Site to malfunction or not to work at all.
        E-mail Communications: To help us make e-mails more useful and interesting,
        we may receive a confirmation when you open e-mail from the Forecast Guru
        Site, if your computer supports such capabilities. In an effort to avoid sending
        unnecessary messages to our customers, we also compare our customer list to
        lists received from other companies.</p>
        
        <p>Information from Other Sources: We might receive information about you from
        other sources and add it to our account information.</p>
        <h4>Use of Information</h4>
        <p>The use of your information is subject to the Forecast Guru Privacy Policy, the
        Terms of Use in effect at the time of use and/or the Forecast Guru Customer
        Agreement. The provisions contained herein supersede all previous notices or
        statements regarding our privacy practices with respect to the Forecast Guru
        Site.</p>
        <p>
        We may use aggregated data (independent of any personal identifiers) for
        research and commercial purposes. This information includes what areas our
        users visit most frequently and what services they access most often. This
        information helps us develop a better site that is more useful and accessible to
        you.</p>
        <p>
        We may use your PII internally for our general commercial purposes including,
        among other things, to offer our own, our affiliates’ or third-party products and
        services that we think you may find of interest, but only Forecast Guru, its
        subsidiaries and contractors involved in distributing the offers or providing the
        products or services will have access to your PII. Our subsidiaries and
        contractors will be required to use any PII we provide them only for that
        intended purpose.</p>
        <p>
        We may use your email address to contact you to respond to your inquiries or to
        provide information on products or services to you. You can elect not to receive
        emails from us either by "unsubscribing" to an email you receive or by
        contacting us as indicated below.</p>
        <p>Do-Not-Track: We use technology that recognizes a “do-not-track” signal from
        your web browser. This technology allows us to exclude you from any analytics
        that collect information about your online activities over time and across third
        party websites.</p>
        <p>
        Disclosing Your Information: We may reveal PII about you to unaffiliated third
        parties: (1) if you request or authorize it; (2) if the information is provided to
        help complete a transaction for you; (3) if the information is provided to comply
        with the law, applicable regulations, governmental and quasi-governmental
        requests, court orders or subpoenas, to enforce our Terms of Use or other
        agreements, or to protect our rights, property or safety or the rights, property or
        safety of our users or others (e.g., to a consumer reporting agency for fraud
        protection etc.); (4) if the disclosure is done as part of a purchase, transfer or
        sale of services or assets (e.g., in the event that substantially all of our assets are
        acquired by another party, customer information may be one of the transferred
        assets); (5) if the information is provided to our agents, outside vendors or
        service providers to perform functions on our behalf (e.g., analyzing data,
        providing marketing assistance, providing customer service, processing orders,
        etc.); (6) to allow them to market to you, or (7) as otherwise described in this
        Forecast Guru Privacy Policy.</p>
        <p>
        We may disclose your non-private, aggregated, or otherwise non-Personal
        Information, such as usage statistics of our Products, to our affiliates and third
        parties.</p>
        <p>
        Opt-Out Rights: If you do not wish to receive offers or other notices from us in
        the future, you can "opt out" by contacting us at the address indicated at the end
        of this policy or by following the “unsubscribe” instructions in any
        communication you receive from us. Please be aware that you are not able to opt
        out of receiving communications about your account or transactions with us.
        Accessing Your Information: You are required to provide us with accurate and up
        to date information. Forecast Guru gives you the ability to amend your data at
        any time by accessing your account on our site and modifying the information.
        Any changes will affect only future uses of your PII.</p>
        <p>
        Subject to any legislation which might, from time to time, oblige us to store the
        information for a certain period of time, we will respect your wishes to correct
        inaccurate information. Otherwise, we will hold your information for as long as
        we believe it will help us to achieve our aims as detailed in this policy.
        You can ask us whether we are keeping personal information about you and you
        can ask to receive a copy of that personal information. Before sending you any
        personal data, we will ask you to provide proof of your identity. If you are not
        able to provide proof of your identity to our sole satisfaction, we reserve the
        right to refuse to send you any personal data. We will respond as quickly as we
        can to your requests for details of personal information we hold about you.</p>

        <h4>Security</h4>
        <p>
        We have security measures in place in our physical facilities and in our computer
        systems, databases, and communications networks that are reasonably designed
        to protect information contained within our systems from loss, misuse or
        alteration.</p>
        <p>
        We are not responsible for maintaining the confidentiality of any non-public
        information that you provide us. If there is information that you wish to protect
        from disclosure to others, do not provide it to us.</p>
        <p>
        No method of electronic transmission or storage is 100% secure. Therefore, we
        cannot guarantee absolute security of your PII. You also play a role in protecting
        your information. Please safeguard your user name, email address and password
        and do not share them with others. If we receive instructions using your log-in
        information we will consider that you have authorized the instructions. You
        agree to notify us immediately of any unauthorized use of your account or any
        other breach of security. We reserve the right to refuse service, terminate
        accounts, or remove or edit content in our sole discretion.</p>
        <p>
        We may disclose your personal information to our affiliates or other third
        parties, including google, who may use that information to market to you
        directly. Please email us at info@Forecast.Guru to request a copy of our
        disclosure pursuant to laws of India.</p>
        <p>Children’s Online Privacy Protection: Our website, products, and services are all
        directed to people who are at least 18 years old or older.</p>

        <h4>Links to Third-Party Sites</h4>
        <p>        When you use the Forecast Guru Site or our Services, you may be directed to
        other websites that are beyond our control. We may also allow third-party sites
        or applications to link to the Forecast Guru Site. We are not responsible for the
        privacy practices of any third parties or the content of linked sites but we do
        encourage you to read the applicable privacy policies and terms and conditions
        of such parties or web sites. The only website to which this Privacy Policy applies
        is the Forecast Guru Site.</p>
        <p>
        Terms of UsePlease also visit our Terms of Use section, which establishes the
        use, disclaimers, and limitations of liability governing the use of our website.
        Customer Agreement. We may also collect information from our customers in
        connection with any Customer Agreement which may be applicable to that
        customer.</p>
        <h4>
        Changes to our Privacy Policy</h4>
        <p>As our services evolve and we perceive the need or desirability of using
        information collected in other ways, we may from time to time amend this
        Privacy Policy. We encourage you to check the Forecast Guru Site frequently to
        see the current Privacy Policy and Terms of Use in effect and any changes that
        may have been made to them. If we make material changes to this Policy, we will
        post the revised Forecast Guru Privacy Policy and the revised effective date on
        the Forecast Guru Site. Please check back here periodically or contact us at the
        address listed at the end of this Policy.</p>
        <h4>Contacting Us</h4>
        <p>This site is owned and operated by Forecast Guru. If you have any questions or
        suggestions with respect to this policy, or if you wish to ask us to delete, correct,
        or show you your information as provided above, you can write to us at
        <a href="mailto:info@Forecast.Guru">info@Forecast.Guru</a></p>


      </div>


    </div>
  </div>
</div>
<footer class="sticky-footer">
    <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
        <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
      </ul>
    </nav>
  </footer>

{% endblock %}