{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Forecastguru</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="true" />
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style_mobile.css' %}" />
</head>
<body class="gray-bg">
<header class="position-fixed w-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center position-relative">
        <div class="goback position-absolute"><a href="{% url 'user_profile' %}" class="text-white"><i class="fa fa-angle-left"></i></a></div>
        <h1>Terms & Conditions</h1>
        
      </div>
    </div>
    
  </div>
</header>
<div class="topspace"></div>

<div class="container fixed_p_footer">
  <div class="row">
    <div class="col-md-12">
      
      <div class="terms_wrap">

        
      <p>  Welcome to the Forecast Guru website (the “Forecast Guru Site”). “Forecast
Guru”, (“we”, “us” or “our”) provides the Forecast Guru Site to you subject to the
following terms of use ("Terms"). The Forecast Guru Site is offered to you
conditioned on your acceptance, without modification, of the Terms. Your use of
the Forecast Guru Site constitutes your agreement to all such Terms. Please read
these Terms carefully, keep a copy of them for your reference, and if you have
any questions about these terms of use please contact us prior to using the
Forecast Guru Site.</p>
<p>We are constantly modifying, updating, expanding, and improving the Forecast
Guru Site. We reserve the right, subject to applicable law, to make changes,
modify, or add or remove portions of these Terms, our Privacy Policy, the
Customer Agreement, and other incorporated terms and policies at any time, in
our sole discretion. Material changes to these Terms will not be applied
retroactively. Nonetheless, we encourage you to check the Forecast Guru Site
frequently to see the current Terms of Use in effect and any changes that may
have been made to them. If we make material changes to these Terms, we will
post the revised Forecast Guru Terms and the revised effective date on the
Forecast Guru Site. No one at Forecast Guru is authorized to modify these Terms
with you or otherwise enter into an agreement with you that conflicts with these
Terms, except by means of written agreement signed by an authorized agent of
Forecast Guru, and any other purported modifications or alterations or
conflicting terms will be null and void.</p>
<p>THESE TERMS OF USE INCLUDE, AMONG OTHER THINGS, AN ARBITRATION
PROVISION
NOT BOILERPLATE </p>

<p>These terms are not boilerplate. If you disagree with any of them, believe that
any should not apply to you, or wish to negotiate these terms, please contact us
at info@forecast.guru and immediately navigate away from the Forecast Guru
Site. Do not use the Forecast Guru Site until you and Forecast Guru have agreed
upon new terms of use.</p>

<h4>Customer Agreement</h4>
<p>When you open an account with Forecast Guru, purchase FG POINTS or engage
in any other transaction with Forecast Guru, you also will be subject to the
Customer Agreement or other similar agreement governing your use of our
services. In the case of any conflict between the Terms and the Customer
Agreement, the provisions of the Customer Agreement will control.</p>

<h4>Electronic Communications</h4>
<p>
Visiting the Forecast Guru Site or sending emails to Forecast Guru constitute
electronic communications. By visiting the Forecast Guru Site or sending emails
to Forecast Guru, you consent to receive electronic communications and you
agree that all agreements, notices, disclosures and other communications that
we provide to you electronically, via email or on the Forecast Guru Site, satisfy
any legal requirement that such communications be in writing.</p>

<h4>Your Account</h4>
<p>If you use this site, you are responsible for maintaining the confidentiality of
your account and password and for restricting access to your computer, and you
agree to accept responsibility for all activities that occur under your account or
password. You may not assign or otherwise transfer your account to any other
person or entity. You acknowledge that Forecast Guru is not responsible for third
party access to your account that results from theft or misappropriation of your
account. Forecast Guru and its associates reserve the right, in our sole discretion,
to refuse or cancel service, terminate accounts, or remove or edit content.
Forecast Guru does not knowingly collect, either online or offline, personal
information from persons under the age of eighteen. If you are under 18, you
may use the Forecast Guru Site and enter into a Customer Agreement only with
permission of a parent or guardian.</p>

<h4>Third Party Services</h4>
<p>The Forecast Guru Site may contain links to other websites ("Linked Sites"). The
Linked Sites are not under the control of Forecast Guru and Forecast Guru is not
responsible for the contents of any Linked Site, including without limitation any
link contained in a Linked Site, or any changes or updates to a Linked Site.
Forecast Guru is providing these links to you only as a convenience, and the
inclusion of any link does not imply endorsement by Forecast Guru of the site or
any association with its operators.</p>
<p>
Certain services made available via the Forecast Guru Site are delivered by third
party sites and organizations. By using any product, service or functionality
originating from the Forecast Guru Site domain, you hereby acknowledge and
consent that Forecast Guru may share such information and data with any third
party with whom Forecast Guru has a contractual relationship to provide the
requested product, service or functionality on behalf of Forecast Guru Site users
and customers.</p>
<h4>Prohibited Uses and Intellectual Property</h4>
<p>
You are granted a non-exclusive, non-transferable, revocable license to access
and use the Forecast Guru Site strictly in accordance with these Terms. As a
condition of your use of the Forecast Guru Site, you warrant to Forecast Guru
that you will not use the Forecast Guru Site for any purpose that is unlawful or
prohibited by these Terms. You may not use the Forecast Guru Site in any
manner that could damage, disable, overburden, or impair the Forecast Guru Site
or interfere with any other party's use and enjoyment of the Forecast Guru Site.
You may not obtain or attempt to obtain any materials or information through
any means not intentionally made available or provided for through the Forecast
Guru Site.</p>
<p>
All content included on the Forecast Guru Site, such as text, graphics, logos,
images, as well as the compilation thereof, and any software used on the
Forecast Guru Site (collectively, “Forecast Guru Content”), is the property of
Forecast Guru or its suppliers and protected by copyright, trademark and other
laws that protect intellectual property and proprietary rights. You agree to
observe and abide by all copyright and other proprietary notices, legends or
other restrictions contained in any such content and will not make any changes
thereto.</p>
<p>
You will not modify, publish, transmit, reverse engineer, participate in the
transfer or sale, create derivative works, or in any way exploit any of the
Forecast Guru Content, in whole or in part, found on the Forecast Guru Site.
Forecast Guru Content is not for resale. Your use of the Forecast Guru Site does
not entitle you to make any unauthorized use of any Forecast Guru Content, and
in particular you will not delete or alter any proprietary rights or attribution
notices in any Forecast Guru Content. You will use Forecast Guru Content solely
for your personal use, and will make no other use of Forecast Guru Content
without the express written permission of Forecast Guru and the copyright
owner. You agree that you do not acquire any ownership rights in any Forecast
Guru Content. We do not grant you any licenses, express or implied, to the
intellectual property of Forecast Guru or our licensors except as expressly
authorized by these Terms.</p>

<h4>Communication Services</h4>
<p>The Forecast Guru Site may but need not contain bulletin board services, chat
areas, news groups, forums, communities, personal web pages, calendars, and/or
other message or communication facilities designed to enable you to
communicate with the public at large or with a group (collectively,
"Communication Services"). You agree to use the Communication Services only
to post, send and receive messages and material that are proper and related to
the particular Communication Service.</p>
<p>By way of example, and not as a limitation, you agree that when using a
Communication Service, you will not: defame, abuse, harass, stalk, threaten or
otherwise violate the legal rights (such as rights of privacy and publicity) of
others; publish, post, upload, distribute or disseminate any inappropriate,
profane, defamatory, infringing, obscene, indecent or unlawful topic, name,
material or information; upload files that contain software or other material
protected by intellectual property laws (or by rights of privacy of publicity)
unless you own or control the rights thereto or have received all necessary
consents; upload files that contain viruses, corrupted files, or any other similar
software or programs that may damage the operation of another's computer;
advertise or offer to sell or buy any goods or services for any business purpose,
unless such Communication Service specifically allows such messages; conduct
or forward surveys, contests, pyramid schemes or chain letters; download any
file posted by another user of a Communication Service that you know, or
reasonably should know, cannot be legally distributed in such manner; falsify or
delete any author attributions, legal or other proper notices or proprietary
designations or labels of the origin or source of software or other material
contained in a file that is uploaded, restrict or inhibit any other user from using
and enjoying the Communication Services; violate any code of conduct or other
guidelines which may be applicable for any particular Communication Service;
harvest or otherwise collect information about others, including e-mail
addresses, without their consent; violate any applicable laws or regulations.
Forecast Guru has no obligation to monitor the Communication Services.
However, Forecast Guru reserves the right to review materials posted to a
Communication Service and to remove any materials in its sole discretion.
Forecast Guru reserves the right to terminate your access to any or all of the
Communication Services at any time without notice for any reason whatsoever.
Forecast Guru reserves the right at all times to disclose any information as
necessary to satisfy any applicable law, regulation, legal process or
governmental, or to edit, refuse to post or to remove any information or
materials, in whole or in part, in Forecast Guru's sole discretion.
Always use caution when giving out any personally identifying information
about yourself or your children in any Communication Service. Forecast Guru
does not control or endorse the content, messages or information found in any
Communication Service and, therefore, Forecast Guru specifically disclaims any
liability with regard to the Communication Services and any actions resulting
from your participation in any Communication Service.</p>

<p>Materials uploaded to a Communication Service may be subject to posted
limitations on usage, reproduction and/or dissemination. You are responsible for
adhering to such limitations if you upload the materials.</p>

<h4>Materials</h4>
<p>Forecast Guru does not immediately claim ownership of the materials you
provide to the Forecast Guru Site (including passwords, feedback and
suggestions) or post, upload, input or submit to any Forecast Guru Site or our
associated services (collectively "Submissions"). However, by posting, uploading,
inputting, providing or submitting your Submissions you are granting Forecast
Guru, our affiliated companies and necessary sublicensees permission to use
your Submissions in connection with the operation of their businesses including,
without limitation, the rights to: copy, distribute, transmit, publicly display,
publicly perform, reproduce, edit, translate and reformat your Submissions; and
to publish your name in connection with your Submissions.</p>
<p>
No compensation will be paid with respect to the use of your Submissions, as
provided herein. Forecast Guru is under no obligation to post or use any
Submissions you may provide and may remove any Submissions at any time in
Forecast Guru’s sole discretion.</p>
<p>
By posting, uploading, inputting, providing or submitting your Submissions you
warrant and represent that you own or otherwise control all of the rights to your
Submissions as described in this section including, without limitation, all the
rights necessary for you to provide, post, upload, input or submit the
Submissions.</p>

<h4>Third Party Accounts</h4>
<p>We may permit you, from time to time, to connect your Forecast Guru account to
third party accounts. By connecting your Forecast Guru account to your third
party account, you acknowledge and agree that you are consenting to the
continuous release of information about you to others (in accordance with your
privacy settings on those third party sites). If you do not want information about
you to be shared in this manner, do not use this feature.</p>
<h4>International Users</h4>
<p>The Forecast Guru Site is controlled, operated and administered by Forecast
Guru from our offices within the Republic of India. If you access the Forecast
Guru Site from a location outside of India, you are responsible for compliance
with all local laws, whether in India or in your jurisdiction. You agree that you
will not use the Forecast Guru Content accessed through the Forecast Guru Site
in any country or in any manner prohibited by any applicable laws, restrictions
or regulations.</p>
<h4>Indemnification</h4>
<p>You agree to indemnify, defend and hold harmless Forecast Guru, its officers,
directors, employees, agents and third parties, for any losses, costs, liabilities and
expenses (including reasonable attorneys' fees) relating to or arising out of your
use of or inability to use the Forecast Guru Site or services, any user postings
made by you, your violation of any terms of this Agreement or your violation of
any rights of a third party, or your violation of any applicable laws, rules or
regulations. Forecast Guru reserves the right, at its own cost, to assume the
exclusive defense and control of any matter otherwise subject to indemnification
by you, in which event you will fully cooperate with Forecast Guru in asserting
any available defenses.</p>

<h4>Disclaimer of Certain Liabilities</h4>
<p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR
AVAILABLE THROUGH THE FORECAST GURU SITE MAY INCLUDE
INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY
ADDED TO THE INFORMATION HEREIN. FORECAST GURU AND/OR ITS
SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE Forecast
Guru SITE AT ANY TIME.</p>
<p>
FORECAST GURU AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS
ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND
ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND
RELATED GRAPHICS CONTAINED ON THE Forecast Guru SITE FOR ANY
PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL
SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED
GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF
ANY KIND. FORECAST GURU AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL
WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION,
SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL
IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR
A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT
SHALL Forecast Guru AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT,
INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR
ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES
FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY
CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE
DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE
PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY
INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS
OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF
THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT
LIABILITY OR OTHERWISE, EVEN IF FORECAST GURU OR ANY OF ITS
SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE
SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES,
THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED
WITH ANY PORTION OF THE SITE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO
DISCONTINUE USING THE SITE.</p>
<h4>
Termination/access restriction</h4>
<p>
Forecast Guru reserves the right, in its sole discretion, to terminate your access
to the Forecast Guru Site and its related services or any portion thereof at any
time, without notice. To the maximum extent permitted by law, the laws of India
govern this agreement. Use of the Forecast Guru Site is unauthorized in any
jurisdiction that does not give effect to all provisions of these Terms, including,
without limitation, this section.</p>
<p>
You agree that no joint venture, partnership, employment, or agency relationship
exists between you and Forecast Guru as a result of this agreement or use of the
Forecast Guru Site. Forecast Guru’s performance of this agreement is subject to
existing laws and legal process, and nothing contained in this agreement is in
derogation of Forecast Guru’s right to comply with governmental, court and law
enforcement requests or requirements relating to your use of the Forecast Guru
Site or information provided to or gathered by Forecast Guru with respect to
such use. If any part of this agreement is determined to be invalid or
unenforceable pursuant to applicable law including, but not limited to, the
warranty disclaimers and liability limitations set forth above, then the invalid or
unenforceable provision will be deemed superseded by a valid, enforceable
provision that most closely matches the intent of the original provision and the
remainder of the agreement shall continue in effect.</p>

<p>Unless otherwise specified herein, this agreement constitutes the entire
agreement between the user and Forecast Guru with respect to the Forecast
Guru Site and it supersedes all prior or contemporaneous communications and
proposals, whether electronic, oral or written, between the user and Forecast
Guru with respect to the Forecast Guru Site, except for any Customer Agreement
into which you enter with Forecast Guru. In the case of any conflict, the terms of
that Customer Agreement will control. A printed version of this agreement and of
any notice given in electronic form shall be admissible in judicial or
administrative proceedings based upon or relating to this agreement to the same
extent and subject to the same conditions as other business documents and
records originally generated and maintained in printed form. It is the express
wish to the parties that this agreement and all related documents be written in
English.</p>
<h4>Reviews and Comments</h4>

<p>We may, from time to time, permit you or other visitors to post reviews,
comments and other content; and submit suggestions, ideas, comments,
questions, or other information, so long as the content is not illegal, obscene,
threatening, defamatory, invasive of privacy, infringing of intellectual property
rights, or otherwise injurious to third parties or objectionable and does not
consist of or contain software viruses, political campaigning, commercial
solicitation, chain letters, mass mailings, or any form of “spam.” You may not use
a false e-mail address, impersonate any person or entity, or otherwise mislead as
to the origin of a card or other content. Forecast Guru reserves the right (but not
the obligation) to remove or edit such content, but does not regularly review
posted content.</p>
<p>Dispute Resolution by Binding Arbitration; Jury Trail Waiver; Class Action
Waiver</p>
<p>For any and all controversies, disputes, demands, claims, or causes of action
between you and us (including the interpretation and scope of this Section and
the arbitrability of the controversy, dispute, demand, claim, or cause of action)
relating to the Forecast Guru Site or these Terms (as well as any related or prior
agreement that you may have had with us), you and we agree to resolve any such
controversy, dispute, demand, claim, or cause of action exclusively through
binding and confidential arbitration. The arbitration will take place in the judicial
district of New Delhi, India. As used in this Section, “we” and “us” mean M/s
Forecast Solutions Private Limited. In addition, “we” and “us” include any third
party providing any product, service, or benefit in connection with the Site or
these Terms (as well as any related or prior agreement that you may have had
with us) if such third party is named as a co-party with us in any controversy,
dispute, demand, claim, or cause of action subject to this Section.
Arbitration will be subject to the Arbitration and Conciliation Act 1996
and not any state arbitration law. Where no claims or counterclaims exceed
Indian Rupees 100,000, the dispute will be resolved by the submission of
documents without a hearing, unless a hearing is requested by a party or
deemed necessary by the arbitrator, in which case, a party may elect to
participate telephonically.</p>
<p>You should review this provision carefully. To the extent permitted by applicable
law, you are GIVING UP YOUR RIGHT TO GO TO COURT to assert or defend your
rights EXCEPT for matters that you file in small claims court in the state or
municipality of your residence within the jurisdictional limits of the small claims
court and as long as such matter is only pending in that court. Additionally,
notwithstanding this agreement to arbitrate, claims of defamation, and
infringement or misappropriation of the other party’s patent, copyright,
trademark, or trade secret shall not be subject to this arbitration agreement.
Such claims shall be exclusively brought in the state or federal courts located in
New Delhi, India. Additionally, notwithstanding this agreement to arbitrate, you
or us may seek emergency equitable relief before the state or federal courts
located in New Delhi, India in order to maintain the status quo pending
arbitration and hereby agree to submit to the exclusive personal jurisdiction of
the courts located within New Delhi, India for such purpose. A request for
interim measures shall not be deemed a waiver of the right to arbitrate.
Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or
jury. You are entitled to a FAIR HEARING, BUT the arbitration procedures may be
SIMPLER AND MORE LIMITED THAN RULES APPLICABLE IN COURT.</p>
<p>
Arbitrators’ decisions are as enforceable as any court order and are subject to
VERY LIMITED REVIEW BY A COURT.</p>
<h4>Contact Us</h4>
<p>Forecast Guru welcomes your questions or comments regarding these Terms via
email at <a href="mailto:info@Forecast.Guru">info@Forecast.Guru</a></p>


      </div>


    </div>
  </div>
</div>
<footer class="sticky-footer">
    <nav class="navbar">
      <ul class="navbar-nav nav-fill w-100 text-center">
        <li class="nav-item"> <a class="nav-link" href="#"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
          Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
          Categories</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
          Results</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
          My Account</a> </li>
      </ul>
    </nav>
  </footer>

</body>
</html>