{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forecastguru</title>
        <meta property="og:url" content="https://forecast.guru" />
<meta property="og:type" content="article" />
<meta property="og:title" content="ForecastGuru"/>
<meta property="og:description" content="Play the hottest prediction game online and become a Forecast Guru!" />
<meta property="og:image" content="https://forecast.guru/static/images/TutorialScreen-icon1.jpg" />
<meta property="fb:app_id" content="186107225561354" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style_mobile.css' %}" />

</head>
<body class="home-bg">

    <div class="container">

        <div class="row">

            <div class="col-md-12">


        <div class="login_container">

            <div class="logo text-center pb-4">
                <img src="{% static 'images/logo-forcastguru.png' %}" alt="">
            </div>
            <div class="clearfix"></div>
            <div class="btn_wrap mt-4">

                <div class="">
                    <button class="btn btn-orange text-uppercase pull-right">Earn 50,000 points on Joining</button>
                </div>
  <div class="btn_box mb-3">
                    <a href="https://forecast.guru/facebook/login/?process=login" class="btn btn-blue w-100 text-uppercase"><i class="fa fa-facebook mr-1"></i> Login with facebook</a>
                </div>
                <!--<div class="btn_box">-->
                    <!--<a href="{% url 'signup_page' %}" class="btn btn-ghost w-100 text-uppercase">Register</a>-->
                <!--</div>-->
                <!--<div class="position-relative ordiv">-->
                    <!--<span class="leftline"></span>-->
                    <!--<span>OR</span>-->
                    <!--<span class="rightline"></span>-->

                </div>
              <div class="btn_box mb-3">
                    <a href="{% url 'category' %}" class="btn btn-ghost w-100 text-uppercase">Continue as Guest</a>
                </div>




            </div>

        </div>


    </div>


        </div>
</body>
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '448296328916936');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=448296328916936&ev=PageView&noscript=1"
/></noscript>
</html>
