{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Forecastguru</title>
      <meta property="og:url" content="https://forecast.guru" />
<meta property="og:type" content="article" />
<meta property="og:title" content="ForecastGuru"/>
<meta property="og:description" content="Play the hottest prediction game online and become a Forecast Guru!" />
<meta property="og:image" content="https://forecast.guru/static/images/TutorialScreen-icon1.jpg" />
<meta property="fb:app_id" content="186107225561354" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="true" />
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style_mobile.css' %}" />
</head>
<body class="gray-bg">

<header class="position-fixed w-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center position-relative">
        <div class="header-logo position-absolute"><img src="{% static 'images/logo-small-white.png' %}" alt=""></div>
        <h1>My Account</h1>

      </div>

    </div>
  </div>
</header>
<div class="topspace2"></div>
<div class="my_account fixed_p_footer">
  <div class="container">
    <div class="account_header d-flex flex-column align-items-center justify-content-center">
      <figure class="account-pic">
          <img src="https://graph.facebook.com/{{profile.uid}}/picture?type=large" alt="" width="80px" height="90px">

        <!--<img src="{% static 'images/logo-small-white.png' %}" alt=""> -->
      </figure>
      <h2 class="title">{{profile.user}}</h2>
      <br>
       <a href="{% url 'logout_user' %}" style="color:white;font-size:16px;">Logout</a>
    </div>
    <div class="account_desc">
      <div class="white_box mb-3">
        <div class="row">
          <div class="col-6 text-center position-relative">
            <div class="seperator"></div>
            <p class="mb-1"> Member Since </p>
            <p class="member_since"> {{date_joined}} </p>
            <p class="mb-1"> FG Status</p>
            <p class="fb_status">{{status}}</p>
          </div>
          <div class="col-6 text-center">
            <p class="mb-1">FG Balance</p>
            <p class="balance">{{balance}}</p>
            <p class="btnwrap"> <a href="{% url 'payment' %}" class="btn btn-orange">Buy Now</a> </p>
          </div>
        </div>
      </div>

      <div class="white_box mb-3">
        <div class="row mb-2">
          <div class="col-9">
            <p class="m-0">Forecasts Created</p>
          </div>
          <div class="col-3 text-right value-color">
            <p class="m-0">{{created}}</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-9">
            <p class="m-0">Forecasts Participated</p>
          </div>
          <div class="col-3 text-right value-color">
            <p class="m-0">{{profile.forecast_participated}}</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="white_box mb-3">
        <div class="row mb-2">
          <div class="col-7">
            <p class="m-0">Correct Forecasts</p>
          </div>
          <div class="col-5 text-right value-color">
            <p class="m-0">{{profile.successful_forecast}} ({{success}}%)</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-8">
            <p class="m-0">Incorrect Forecasts</p>
          </div>
          <div class="col-4 text-right value-color">
            <p class="m-0">{{profile.unsuccessful_forecast}} ({{unsuccess}}%)</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="points_leger">
        <h2>FG Points Ledger</h2>
        <div class="white_box mb-3">
          <div class="row mb-2">
            <div class="col-8">
              <p class="m-0">Joining Bonus FG Points</p>
            </div>
            <div class="col-4 text-right value-color">
              <p class="m-0">{{profile.fg_points_free}}</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row mb-2">
            <div class="col-8">
              <p class="m-0">FG Points Purchased</p>
            </div>
            <div class="col-4 text-right value-color">
              <p class="m-0">{{profile.fg_points_bought}}</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row mb-2">
            <div class="col-8">
              <p class="m-0">Points in Play</p>
            </div>
            <div class="col-4 text-right value-color">
              <p class="m-0">{{point}}</p>
            </div>
          </div>
             <div class="clearfix"></div>
        <div class="row">
          <div class="col-8">
            <p class="m-0">Market Fee Paid</p>
          </div>
          <div class="col-4 text-right value-color">
            <p class="m-0">{{profile.market_fee_paid}}</p>
          </div>
        </div>
          <div class="clearfix"></div>
          <div class="row mb-2">
            <div class="col-8">
              <p class="m-0">FG Points Won</p>
            </div>
            <div class="col-4 text-right value-color">
              <p class="m-0">{{profile.fg_points_won}}</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row mb-2">
            <div class="col-8">
              <p class="m-0">Market Fee Earned </p>
            </div>
            <div class="col-4 text-right value-color">
              <p class="m-0">{{profile.market_fee}}</p>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-8">
              <p class="m-0">FG Points Lost </p>
            </div>
            <div class="col-4 text-right value-color">
              <p class="m-0">{{profile.fg_points_lost}}</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="total_balance text-right">
        <p>Balance : <span class="value-color font-weight-bold">{{balance}}</span></p>
      </div>
       <div class="row mb-2 btn_wrap">
        <div class="col-4 text-left"> <a href="{% url 'privacy_policy' %}" class="text-uppercase">Privacy</a> </div>
        <div class="col-4 text-center"> <a href="{% url 'terms' %}" class="text-uppercase">Terms</a> </div>
         <div class="col-4 text-right"> <a href="{% url 'faq' %}" class="">FAQs</a> </div>

      </div>

    </div>
  </div>
</div>
<footer class="sticky-footer">
  <nav class="navbar">
    <ul class="navbar-nav nav-fill w-100 text-center">
      <li class="nav-item"> <a class="nav-link" href="{% url 'live_forecast' %}"> <img src="{% static 'images/menu-icon-forecast.png' %}" alt=""><br>
        Forecasts</a> </li>
      <li class="nav-item"> <a class="nav-link" href="{% url 'category' %}"> <img src="{% static 'images/menu-icon-category.png' %}" alt=""><br>
        Categories</a> </li>
      <li class="nav-item"> <a class="nav-link" href="{% url 'forecast_result' %}"> <img src="{% static 'images/menu-icon-results.png' %}" alt=""><br>
        Results</a> </li>
      <li class="nav-item"> <a class="nav-link" href="{% url 'my_forecast' %}"> <img src="{% static 'images/menu-icon-myforecasts.png' %}" alt=""><br>
            My Forecasts</a> </li>
      <li class="nav-item"> <a class="nav-link active" href="{% url 'user_profile' %}"> <img src="{% static 'images/menu-icon-friend.png' %}" alt=""><br>
        My Account</a> </li>
    </ul>
  </nav>
</footer>
<div class="right_fixed_btn">
  <a href="{% url 'quiz' %}" class="vertical-text">
    <img src="{% static 'images/play-quiz.png' %}" alt="">
  </a>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120519459-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120519459-1');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '406710686464682');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=406710686464682&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</body>
</html>

