{% extends 'base.html' %}
{% block head_title %}Forecast Closing Soon{% endblock %}
{% block content %}
<p>Forecast Closing Soon</p>
{% comment %}
<div class="container">

    <div class="row">
        {% for f in forecast %}
        <div class="col-md-2">
            <img src="{{f.sub_category.image}}" width="100px" height="100px" alt="Images"/>
        </div>
            <div class="col-md-5">
                <h1>{{f.category.name}} {{f.sub_category.name}}</h1>
                <p>{{f.heading}}</p>
                <p>{{f.status.name}}</p>
                <p>{{f.user}}</p>
            </div>
        {% endfor %}
    </div>

</div>
{% endcomment %}

{% for f in forecast %}

<div class="blog-container" >
    <div class="row" style="padding-top:10px;">
        <div class="col-md-2"><img src="{{f.sub_category.image}}" width="100px" height="100px;"></div>
        <div class="blog-body col-md-10" style="margin-left:10px;">
            <div class="blog-summary">
              <h1>{{f.category}} - {{f.sub_category.name}}</h1>
              <h6 style="margin-left:10px;">{{f.heading}}</h6>
            </div>
            <div class="blog-tags">

                <label>Start Time</label> {{f.start}}<br>
                <label>End Time</label> {{f.expire}}<br>
                <label>Status</label> {{f.status}}


            </div>
        </div>
        <div class="blog-footer" style="margin_bottom:10px;">
                <h3>{{f.user}}</h3>
            </div>

    </div>
</div>
{% endfor %}

{% endblock %}